# What are Tuples?

A **tuple** is a data structure in Python. Tuples are always defined using **round brackets** `()`.

Tuples are **immutable**, meaning their elements cannot be changed after creation. They can contain elements of **any data type**.

Let's see an example:
```python
my_tuple = (1, "hello", 3.14, True)
print(my_tuple)

In [1]:
work_location=('Bengluru','Kolkata','Chennai','raipur')

In [2]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur')

In [ ]:
#check type

In [3]:
type(work_location)

tuple

In [ ]:
#Lets try to add new work location.like list method

In [4]:
work_location.append('Korba')

AttributeError: 'tuple' object has no attribute 'append'

# Adding Elements to a Tuple

We cannot add elements directly to a tuple because **tuples are immutable** (we cannot change them after creation).

But don't worry, there is a trick to add elements to a tuple.

### How to Add Elements to a Tuple

First, we need to **convert the tuple into a list**, because lists are mutable (changeable). Then, we can add elements and convert it back to a tuple.

Let's see how:
```python
my_tuple = (1, 2, 3)
temp_list = list(my_tuple)  # Convert to list
temp_list.append(4)         # Add element
my_tuple = tuple(temp_list) # Convert back to tuple
print(my_tuple)

In [5]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur')

In [6]:
work_location=list(work_location)

In [7]:
work_location

['Bengluru', 'Kolkata', 'Chennai', 'raipur']

In [ ]:
#now you can edit

In [8]:
work_location.append('Korba')

In [9]:
work_location

['Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba']

In [ ]:
#now back to change in tuple

In [10]:
work_location=tuple(work_location)

In [11]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [ ]:
#Hi Hi Hi , we can change !!

In [ ]:
#How many cities in tuple , i mean what is the length of tuple,
#checking length in tuple like List.

In [12]:
len(work_location)

5

In [ ]:
#Similarly you can work with numbers as well , no change in the concept.

In [ ]:
#use indexing just like we did in list

In [13]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [14]:
work_location[1]

'Kolkata'

In [ ]:
#slicing just like a list

In [15]:
work_location[-2]

'raipur'

### 2. `index()`

The `index()` method returns the **position (index)** of the **first time** a specific value appears in the tuple.

#### Example:

```python
my_tuple = (5, 10, 15, 10, 20)
print(my_tuple.index(10))  # Output: 1

In [16]:
numbers=(50,60,40,90,80,70,60,50,40,70,10,20,30,7,50,50)

In [ ]:
#use .index to enter a value,  and return the index

In [17]:
numbers.index(30)

12

# Basic Tuple Methods

Tuples have some built-in methods, but not as many as lists.

Let's look at two common built-in methods for tuples:

### 1. `count()`

This method returns the number of times a value appears in the tuple.

```python
my_tuple = (1, 2, 3, 2, 2, 4)
print(my_tuple.count(2))  # Output: 3

In [18]:
numbers

(50, 60, 40, 90, 80, 70, 60, 50, 40, 70, 10, 20, 30, 7, 50, 50)

In [19]:
numbers.count(50)

4

### **Tuples - Access**

####  Definition: Getting values from a tuple by using their place number is called accessing elements.

### Example 1: Accessing by index

In [20]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])  # Access the first item

apple

### Example 2: Negative indexing

In [21]:
print(fruits[-1])  # Access the last item

cherry

### Example 3: Accessing a range of items

In [22]:
print(fruits[1:3])  # Access items from index 1 to 2

('banana', 'cherry')

# **Tuples - Update**

### Definition: Tuples are immutable, meaning their elements cannot be changed directly.To "update" a tuple, you must create a new tuple with the desired changes.

### Example 1: Changing a tuple by creating a new one

In [23]:
fruits = ("apple", "banana", "cherry")
fruits = ("apple", "blueberry", "cherry")
print(fruits)

('apple', 'blueberry', 'cherry')

### Example 2: Adding an item by converting to list

In [24]:
fruits = ("apple", "banana", "cherry")
fruits_list = list(fruits)
fruits_list.append("orange")
fruits = tuple(fruits_list)
print(fruits)

('apple', 'banana', 'cherry', 'orange')

### Example 3: Removing an item by converting to list

In [25]:
fruits = ("apple", "banana", "cherry")
fruits_list = list(fruits)
fruits_list.remove("banana")
fruits = tuple(fruits_list)
print(fruits)

('apple', 'cherry')

# **Tuples - Unpack**

### Definition: Unpacking a tuple involves assigning its elements to individual variables.

### Example 1: Simple unpacking

In [ ]:
fruits = ("apple", "banana", "cherry")
(first, second, third) = fruits
print(first)
print(second)
print(third)

### Example 2: Using asterisk to unpack remaining elements

In [ ]:
fruits = ("apple", "banana", "cherry", "orange")
(first, *rest) = fruits
print(first)
print(rest)

### Example 3: Ignoring certain values during unpacking

In [ ]:
fruits = ("apple", "banana", "cherry")
(first, _, third) = fruits
print(first)
print(third)

# **Tuples - Join**

### Definition: Joining tuples involves combining two or more tuples into a single tuple.

### Example 1: Joining two tuples with +

In [ ]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)
joined_tuple = tuple1 + tuple2
print(joined_tuple)

### Example 2: Multiplying a tuple

In [ ]:
fruits = ("apple", "banana", "cherry")
multiplied_tuple = fruits * 2
print(multiplied_tuple)

### Example 3: Using the extend() method (not directly applicable to tuples, so we convert to list)

In [ ]:
fruits = ("apple", "banana", "cherry")
more_fruits = ("mango", "pineapple")
fruits_list = list(fruits)
fruits_list.extend(more_fruits)
fruits = tuple(fruits_list)
print(fruits)

# **Tuples - Tuple Methods**

### Definition: Tuple methods are built-in functions that perform specific operations on tuple elements. Since tuples are immutable, they have fewer methods than lists.

### Example 1: Using count() to count occurrences

In [ ]:
fruits = ("apple", "banana", "cherry", "apple")
print(fruits.count("apple"))

### Example 2: Using index() to find the first occurrence

In [ ]:
print(fruits.index("banana"))

### Example 3: Converting a tuple to a list and back to a tuple

In [ ]:
fruits_list = list(fruits)
fruits_list.append("orange")
fruits = tuple(fruits_list)
print(fruits)