# Part 1: Data Type Checking (Q1–Q5)

1. Create a variable a = 10. Check its data type using type().
2. Store 5.5 in a variable and check its type.
3. Assign "Shiv" to a variable and check its type.
4. Check the type of True and False.
5. What is the type of this list: [1, 2, 3]?

In [28]:
a=10
print("The type of a is:", type(a))
b=5.5
print("The type of b is:", type(b))
c="Shiv"
print("The type of c is:", type(c))
d=True
print("The type of d is:", type(d))
e=[1, 2, 3]
print("The type of e is:", type(e))

The type of a is: <class 'int'>
The type of b is: <class 'float'>
The type of c is: <class 'str'>
The type of d is: <class 'bool'>
The type of e is: <class 'list'>

##  Part 2: List Methods (Q6–Q15)

6. Create `fruits = ['apple', 'banana']`. Add `'mango'` using `append()`.
7. Add multiple items `['orange', 'grape']` using `extend()`.
8. Insert `'kiwi'` at index 1 using `insert()`.
9. Remove `'banana'` using `remove()`.
10. Use `pop()` to remove the last item.
11. Use `index()` to find position of `'apple'`.
12. Use `count()` to count `'apple'` in list.
13. Sort `[4, 1, 3, 2]` using `sort()`.
14. Reverse a list using `reverse()`.
15. Clear all list items using `clear()`.

In [24]:
fruits=['apple', 'banana']
fruits.append('mango')
print("The list after appending mango:", fruits)
fruits.extend(['orange', 'grape'])
print("The list after extending:", fruits)
fruits.insert(1,'kiwi')
print("The list after inserting kiwi at index 1:", fruits)
fruits.remove('banana')
print("The list after removing banana:", fruits)
fruits.pop()
print("THe list after popping:", fruits)
indexes=fruits.index('apple')
print("The index position of apple:", indexes)
counts=fruits.count('apple')
print("The count of apple in the list:", counts)
numbers=[4, 1, 3, 2]
numbers.sort()
print("The list after sorting in ascending order:", numbers)
numbers.reverse()
print("The list after sorting in descending order:", numbers)
numbers.clear()
print("The list after clearing the numbers:", numbers)

The list after appending mango: ['apple', 'banana', 'mango']
The list after extending: ['apple', 'banana', 'mango', 'orange', 'grape']
The list after inserting kiwi at index 1: ['apple', 'kiwi', 'banana', 'mango', 'orange', 'grape']
The list after removing banana: ['apple', 'kiwi', 'mango', 'orange', 'grape']
THe list after popping: ['apple', 'kiwi', 'mango', 'orange']
The index position of apple: 0
The count of apple in the list: 1
The list after sorting in ascending order: [1, 2, 3, 4]
The list after sorting in descending order: [4, 3, 2, 1]
The list after clearing the numbers: []

#  Part 3: Tuple Questions (Q16–Q20)

16. Create `t = (1, 2, 3, 4)`
17. Use `count()` on `t` to count 2.
18. Use `index()` to find 3.
19. Try changing value in a tuple and show the error.
20. Convert list to tuple using `tuple()` function.

In [6]:
t=(1, 2, 3, 4)
counts=t.count(2)
print("The count of 2:", counts)
indexes=t.index(3)
print("The index value of 3:", indexes)
lists=list(t)
lists.append(5)
t=tuple(lists)
print("The result after appending 5:", t)

The count of 2: 1
The index value of 3: 2
The result after appending 5: (1, 2, 3, 4, 5)

## Part 4: Set Questions (Q21–Q25)

21. Create `{'Shiv', 'Ram', 'Krishna'}` as a set.
22. Add `'Hanuman'` to set using `add()`.
23. Add multiple values `{'Durga', 'Ganesh'}` using `update()`.
24. Remove `'Ram'` using `remove()`.
25. Use `discard('Lakshmi')` (even if it's not in the set).

In [30]:
sets={'Shiv', 'Ram', 'Krishna'}
sets.add('Hanuman')
print("The set after adding Hanuman:", sets)
sets.update({'Durga', 'Ganesh'})
print("The set after updating with Durga and Ganesh:", sets)
sets.remove('Ram')
print("The set after removing Ram:", sets)
sets.discard('Lakshmi')
print("The set after discarding Lakshmi:", sets)

The set after adding Hanuman: {'Hanuman', 'Ram', 'Krishna', 'Shiv'}
The set after updating with Durga and Ganesh: {'Shiv', 'Krishna', 'Hanuman', 'Durga', 'Ram', 'Ganesh'}
The set after removing Ram: {'Shiv', 'Krishna', 'Hanuman', 'Durga', 'Ganesh'}
The set after discarding Lakshmi: {'Shiv', 'Krishna', 'Hanuman', 'Durga', 'Ganesh'}

##  Part 5: Dictionary Questions (Q26–Q30)

26. Create `{'name': 'Shiv', 'power': 'Destruction'}` and print it.
27. Access `'name'` using `dict['name']`.
28. Add `'weapon': 'Trishul'` to the dictionary.
29. Use `get()` to access `'vehicle'` key safely.
30. Use `.keys()`, `.values()`, `.items()` to view dictionary contents.

In [34]:
myset={'name': 'Shiv', 'power': 'Destruction'}
print("The value of the key 'name' is:", myset['name'])
print("Alternative code for displaying the value of the key 'name' is:", myset.get('name'))
#myset['weapon']='Trishul'
myset.update({'weapon': 'Trishul'})
print("The dictionary after adding a key and it's value:", myset)
keys=myset.keys()
print("The keys are:", keys)
values=myset.values()
print("The values are:", values)
print(values)
item=myset.items()
print(item)

The value of the key 'name' is: Shiv
Alternative code for displaying the value of the key 'name' is: Shiv
The dictionary after adding a key and it's value: {'name': 'Shiv', 'power': 'Destruction', 'weapon': 'Trishul'}
dict_keys(['name', 'power', 'weapon'])
dict_values(['Shiv', 'Destruction', 'Trishul'])
dict_items([('name', 'Shiv'), ('power', 'Destruction'), ('weapon', 'Trishul')])

##  Part 6: Keywords and Strings (Q31–Q35)

31. Print all Python **keywords** using `keyword` module.
32. Create a string using **single quotes** and print it.
33. Create a string using **double quotes** and explain when to use it.
34. Create a **multi-line string** using triple quotes.
35. Explain when to use single, double, and triple quotes with examples.

In [140]:
import keyword
keywords=keyword.kwlist
print(keywords)
mystring='My name is Debabrata'
type(mystring)
mystring2="My full name is Debabrata Mallik."
type(mystring2)
print(mystring2)
multi='''My name is Debabrata.
My full name is Debabrata Mallik.'''
print(multi)
# Single quote: is used to define string and it is not applicable if appostopie is present in the value of the string.
# Double quote: is used to define string again and also it can be used to contatenate single quoted two strings.
# Triple quote: is used for multi liner string.

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
My full name is Debabrata Mallik.
My name is Debabrata.
My full name is Debabrata Mallik.

##  Part 7: String and Type Practice (Q36–Q40)

36. Store a name `"Krishna"` and print its type.
37. Store a float value `9.81` in variable and check its type.
38. Store an integer and string together in a list. Check its type.
39. Create a boolean variable `is_raining = False` and print it.
40. Use `type()` for:  
    - a string  
    - an int  
    - a float  
    - a list  
    - a dict

In [153]:
name="Krishna"
type(name)
my_float=9.81
type(my_float)
my_list=[1, 'str']
type(my_list)
is_raining=False
print(is_raining)
my_int=10
my_dict={'Name': 'Debu', 'Surname': 'Mallik'}
print(type(name))
print(type(my_float))
print(type(my_list))
print(type(is_raining))
print(type(my_int))
print(type(my_dict))

False
<class 'str'>
<class 'float'>
<class 'list'>
<class 'bool'>
<class 'int'>
<class 'dict'>

##  Part 8: Quote and String Practice (Q41–Q45)

41. What happens if you write `'It's sunny'` using single quotes? Try and fix it.
42. Show how to include both single and double quotes in a triple quote string.
43. Print this line using triple quotes:  
    _"Jai Shri Ram", he said. 'Let the truth win!'_
44. Create a multi-line prayer using `''' '''` and print it.
45. Can we use escape character `\n` in single/double quotes? Try it.

In [186]:
mystr="It's sunny"
print(mystr)
mytriple='''"Jai Shri Ram", he said.
'Let the truth win!' '''
print(mytriple)
multi_liner=''' Janagana manayadhi
Nayaka jaya he
Bharata bhagya bidhata
Punjab o Sindhu... '''
print(multi_liner)
newline="My name is Debabrata. \nMy full name is Debabrata Mallik."
print(newline)

It's sunny
"Jai Shri Ram", he said.
'Let the truth win!'
 Janagana manayadhi
Nayaka jaya he
Bharata bhagya bidhata
Punjab o Sindhu...
My name is Debabrata.
My full name is Debabrata Mallik.

##  Part 9: Logic and Data Types (Q46–Q50)

46. Can a list contain different data types? Show example.
47. What will this return: `type([1, "Ram", True])`?
48. What is the type of this: `None`?
49. Write a list with nested list: `[1, [2, 3], 4]` – what is its type?
50. Create a dictionary inside a list: `[{"name": "Shiv"}]` and print it.

In [191]:
diff_list=[1, "banana", 4.5, True]
print(type(diff_list))

<class 'list'>

In [193]:
type([1, "Ram", True])

list

In [195]:
nested_list=[1, [2, 3], 4]
type(nested_list)

list

In [201]:
complex_list=[1, 2, {"Name": "Shiv"}, 4.5]
print(complex_list)
print(type(complex_list))

[1, 2, {'Name': 'Shiv'}, 4.5]
<class 'list'>