# Complex number

Complex number is built-in number which consists for both a real number and an imginary number.
Example: 2+5i is a complex number but in python it is used as 2+5j

In [3]:
c=2+5j
type(c)

complex

In [7]:
c=5j
type(c)
#Here real number is 0. It is actually 0+5j.

complex

# String
String is a data type when used alphabets in single, double or tripple quotes. Now the question is when to use single, double of tripple quotes.
By default, we can use single quote like the following example.

In [35]:
a='My name'
type(a)

str

In [37]:
a='5'
type(a)

str

We must use double quotes (" ") when there is an apostopee used in the string. Example, while writing "I'm Debu" as a value of a variable, double quote is required. However, by default double quotes can be used even if there is no apostopee used in the string. Let's see how it looks like in a code.

In [39]:
a='I'm Debu'
type(a)

SyntaxError: unterminated string literal (detected at line 1) (3768150512.py, line 1)

In [41]:
a="I'm Debu"
type(a)

str

We must use tripple quotes (''' ''') when there a need for documentation within the code or there is a multiline string. Let's see the example below:

# How to play with strings?
Strings can be concatenated to get a complete sentence or phrase. Let's see how:

In [43]:
str1='Python'
str2=' is a powerful'
str3=' language'
print(str1+str2+str3)

Python is a powerful language

In [45]:
# We can directly add strings without executing codes
print('Python' + ' is a powerful' + ' language')

Python is a powerful language

In [48]:
# Another arithmatic operation with string
print(' Mango' *5) #This is used for multiplication

 Mango Mango Mango Mango Mango

In [50]:
#Other way to put space in between the strings and add the values without + sign
print('I love','Mango')

I love Mango

In [52]:
#Let's add string with an integer
a='Mango' + 5
print(a)
#This will throw below error because string cannot be concatenated with integer.

TypeError: can only concatenate str (not "int") to str

In [54]:
#How we can convert the data type and add integer with string.
a=str(5)+'Mangos'
print(a)

5Mangos

# String and their method
## Concatenation of string
We can add multiple string to create a full sentence or phrase as explained above. Let's see few more examples

In [61]:
a='H'
print(a)

H

In [63]:
a="Hello"
print(a)

Hello

In [69]:
a='H',"Hello",'''Hello 
world'''
print(a)

('H', 'Hello', 'Hello \nworld')

In [75]:
str1='Hello,'
str2="I'm Debu."
str3='''Python is my favoutite subject.'''
result=(str1+" "+str2+" "+str3)
print(result)

Hello, I'm Debu. Python is my favoutite subject.

## Changing the case
We can use various functions to determine several meaning of strings. Let's see few of them.

In [78]:
str1="Python is best."
print(str1.lower())

python is best.

In [80]:
print(str1.upper())

PYTHON IS BEST.

## Finding substring
Using find function we can find a part of the string and use them for different purpose. Let's see how find() can be effectively used in python.

In [87]:
str1="My name is Debu"
print(str1.find("Debu"))
#Note the 0th index is 'M'
#1st index is 'y'
#2nd index is ' ' (a space) and so on.

11

In [91]:
str1="Hello Friends"
print(str1.find("o"))

4

In [93]:
#Same output can achieved by using index() function.
print(str1.index("o"))

4

In [97]:
#If we try to find something which doesn't exist in the string. It returns -1 when used find method.
print(str1.find("k"))

-1

In [99]:
print(str1.index("x"))
#This will throw bellow error.

ValueError: substring not found

## Using replace method
We can replace substring using replace method by referring the index number. Let's see how this works.

In [102]:
print(str1[:6].replace("o","e"))

Helle

In [106]:
print(str1[6])
#Printing the 6th index

F

In [110]:
print(str1[:6])
#It starts with 0 and ends at 6th index. This is equivalent to print(str1[0:6]).

Hello

## Important
When we use start and end index values like [5:7], it starts with 5th index and ends with 6th index. It ends always with n-1.

In [116]:
print(str1[5:7])
#It displays ' F' because it starts with 5th index but ends with 7-1 index nothing but 6th index.

 F

In [114]:
print(str1[:4].replace("o", "a"),str1[5:])

Hell  Friends