# Tuple - Unpack
Unpacking a tuple means assigning it's elements to individual variable.

In [3]:
games=("Cricket","Football","Hockey")
(first, second, third)=games
print(first)
print(second)
print(third)
print(games)

Cricket
Football
Hockey
('Cricket', 'Football', 'Hockey')

### Using asteric to unpack remaining variables.
In the below example, first element will be assigned to first variable and rest of the elements will be assigned to a variable 'rest'. 

NOTE: here asteric is * and when we write anything after * it is called as argument. It could be anything after *temp or *rest etc...
### When to use argument?
When we do not know how many elements will be stored in the variable temp or rest.

Let's see how it works:

In [5]:
games=("Cricket","Football","Hockey")
(first, *rest)=games
print(first)
print(rest)

Cricket
['Football', 'Hockey']

In [7]:
# Ignoring certian variables during unpacking
games=("Cricket","Football","Hockey")
(first,_,third)=games   #Generally, _ is not used as variable. The intention is to ignore the value 'Football'.
print(first)
print(_)
print(third)

Cricket
Football
Hockey

### Tuple - Join
Joining tuple = joining two or more tuples into a single tuple

In [14]:
#Joining two tuples with '+'
tuple1=("Cricket","Football","Hockey")
tuple2=("Banana","Cherry","Apple")
tup=tuple1+tuple2
print(tup)

('Cricket', 'Football', 'Hockey', 'Banana', 'Cherry', 'Apple')

In [16]:
#Multiplying a tuple with a number
tuple1=("Cricket","Football","Hockey")
multiply_tuple=tuple1*2
print(multiply_tuple)

('Cricket', 'Football', 'Hockey', 'Cricket', 'Football', 'Hockey')

In [28]:
#Using extend() method to (not directly applicable to tuples, so we need to convert it to list)
fruits=("Banana","Cherry","Apple")
more_fruits=("Mango","Grapes")
fruit_list=list(fruits)
fruit_list.extend(more_fruits)
fruits=tuple(fruit_list)
print(fruits)

('Banana', 'Cherry', 'Apple', 'Mango', 'Grapes')

## Methods used in tuple
Tuple methods are built-in functions that perform specific operations on tuple elements. Since tuples are immutable, they have fewer methods than list.

### Using count() for occurences

In [34]:
fruits=("Banana","Cherry","Apple","Banana","Cherry")
fruits.count("Banana")

2

In [38]:
# Using index() for finding the first occurence
print(fruits.index("Cherry"))
print(fruits.index("Apple"))

1
2

In [44]:
# Using append() to add an element
fruits=("Banana","Cherry","Apple","Banana","Cherry")
fruit_list=list(fruits)
fruit_list.append("Orange")
fruits=tuple(fruit_list)
print(fruits)

('Banana', 'Cherry', 'Apple', 'Banana', 'Cherry', 'Orange')

# Set
Set is an unodered collection of unique elements.
1. Elements should be distinct - duplicate values are removed automatically
2. They do not have defined order
3. It is mutable
4. It is defined in {} or it can be created using built-in set() function

In [49]:
# Example
my_set=set([1,2,4,5,6])
print(my_set)

{1, 2, 4, 5, 6}

In [53]:
my_list=[1,2,3,4,2,3,4,5,6,7,5,7]
my_set=set(my_list)
print("The original list:",my_list)
print("The Set after removing duplicates:",my_set)

The original list: [1, 2, 3, 4, 2, 3, 4, 5, 6, 7, 5, 7]
The Set after removing duplicates: {1, 2, 3, 4, 5, 6, 7}

In [55]:
roll_num=set()
# Created a variable 'roll_num' with a blank set
type(roll_num)

set

In [57]:
#Add into a set using add() function
roll_num.add(1)
print(roll_num)

{1}

In [59]:
roll_num.add(2)
print(roll_num)

{1, 2}

In [61]:
# Try to add one of the same element once again
roll_num.add(1)
print(roll_num)

{1, 2}

### When to use set() method?
set can be used for removing the duplicate from a list.

In [66]:
numbers=[1,3,4,5,67,65,67,65,45,45,3,4,56,67,75,34,45,23,23,34,56,67]
remove_dup=set(numbers)
print(remove_dup)
numbers=list(remove_dup)     # To convert to list
print(numbers)

{1, 65, 67, 3, 4, 5, 34, 75, 45, 23, 56}
[1, 65, 67, 3, 4, 5, 34, 75, 45, 23, 56]

### How to access elements in a set()?
It cannot be accessed by using an index() because sets are unordered.

In [71]:
#Accessing element by using a loop
fruits={"apple", "banana","Orange","Grapes"}
print(fruits)
print(fruits)

{'Orange', 'apple', 'banana', 'Grapes'}
{'Orange', 'apple', 'banana', 'Grapes'}

In [73]:
#Check the existance of an item in a set
print("Grapes" in fruits)

True

In [75]:
fruits.pop()
print(fruits)

{'apple', 'banana', 'Grapes'}

### Set - Add function
1. add() is used for adding single element.
2. update() is used for updating or adding multiple elements.

In [5]:
fruits={"apple", "banana","Orange","Grapes"}
fruits.add("Pine Apple")
print(fruits)

{'banana', 'Grapes', 'Orange', 'apple', 'Pine Apple'}

In [7]:
fruits.update(["Litchi", "Orange"])
print(fruits)

{'banana', 'Litchi', 'Grapes', 'Orange', 'apple', 'Pine Apple'}

In [9]:
# Adding items from another set
more_fruits= {"Pineapple","Papaya"}
fruits.update(more_fruits)
print(fruits)

{'banana', 'Pineapple', 'Litchi', 'Papaya', 'Grapes', 'Orange', 'apple', 'Pine Apple'}

### Set - remove() function
Two ways to remove an item from the set:
1. remove() - it throws an error if item is not present in the set
2. discard() - it doesn't return any error

In [7]:
fruits={"apple", "banana","Orange","Grapes"}
fruits.remove("banana")
print(fruits)

{'apple', 'Orange', 'Grapes'}

In [9]:
fruits.discard("Orange")
print(fruits)
fruits.remove("Papaya")
print(fruits)

{'apple', 'Grapes'}

KeyError: 'Papaya'

In [11]:
# Removing an arbitrary item using pop()
popped=fruits.pop()
print(popped)
print(fruits)

apple
{'Grapes'}

### Set join() function
Joining sets using set operations like
1. union - combines all unique items from both the sets
2. intersection - shows only common items
3. difference - ???
4. symmetric difference - shows items that are not common from both the sets

In [4]:
set1={1,2,3,4}
set2={1,3,5,6,7,8}
sets=set1.union(set2)
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
set_intersection=set1.intersection(set2)
print(set_intersection)

{1, 3}

### Few more methods used for Set

In [9]:
# Adding an element to a set
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [11]:
# Using clear() to empty a set
fruits.clear()
print(fruits)

set()

In [15]:
# Using copy() to create shallow copy
fruits={"apple","banana","cherry"}
fruits_cp=fruits.copy()
print(fruits_cp)

{'apple', 'banana', 'cherry'}

#### What are Shallow and Deep copy in Python?
Shallow Copy: it creates a new compound object like list, dictionary or set but it actually references to the original object. Modifying the new object impacts the originial object and vice-versa.

Deep Copy: Changes made to the deep copy, including modifications to nested mutable objects, will not affect the original object, and vice-versa.

# Dictionary in Python
A dictionary contains a key and it's corresponding value. It is defined in also using {}.
It also accepts all data types.

In [21]:
# Example
my_dict={'key1':'value1','key2':'value2'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [25]:
# Call the value by the key
print(my_dict['key1'])

value1

In [28]:
# Let's see an example of complex dictionary
my_dict={'Roll Number':123,'Subject':['Maths','Science','Computer'],'Marks':[78,67,90]}
print(my_dict)

{'Roll Number': 123, 'Subject': ['Maths', 'Science', 'Computer'], 'Marks': [78, 67, 90]}

In [30]:
# Calling the values from dictionary
print(my_dict['Subject'])

['Maths', 'Science', 'Computer']

In [32]:
print(my_dict['Marks'])

[78, 67, 90]

In [5]:
# Calling using index of the value
my_dict={'Roll Number':123,'Subject':['Maths','Science','Computer'],'Marks':[78,67,90]}
print(my_dict['Subject'][1])

Science

In [9]:
print(my_dict['Subject'][0])

Maths

In [15]:
# Capitalize the value of a dictionary
my_dict={'Roll Number':123,'Subject':['Maths','Science','Computer'],'Marks':[78,67,90]}
dict_up=my_dict['Subject'][1].upper()
print(dict_up)

SCIENCE

In [19]:
# How to update a dictionary
# In the below example, we are adding 6 into the value of 0th index of Marks key.
my_dict['Marks'][0]=my_dict['Marks'][0]+6
print(my_dict)

{'Roll Number': 123, 'Subject': ['Maths', 'Science', 'Computer'], 'Marks': [90, 67, 90]}

In [21]:
# Other way of writing the above code
my_dict['Marks'][1]+=6
print(my_dict)

{'Roll Number': 123, 'Subject': ['Maths', 'Science', 'Computer'], 'Marks': [90, 73, 90]}

In [23]:
# Similarly we can subtract a value
my_dict['Marks'][0]-=10
print(my_dict)

{'Roll Number': 123, 'Subject': ['Maths', 'Science', 'Computer'], 'Marks': [80, 73, 90]}

In [25]:
# Adding a pair of key:value into an existing dictionary
my_dict['Year']=2025
print(my_dict)

{'Roll Number': 123, 'Subject': ['Maths', 'Science', 'Computer'], 'Marks': [80, 73, 90], 'Year': 2025}

In [27]:
# How to update a value of a key
my_dict.update({'Roll Number':100})
print(my_dict)

{'Roll Number': 100, 'Subject': ['Maths', 'Science', 'Computer'], 'Marks': [80, 73, 90], 'Year': 2025}

In [29]:
# To list all the keys and their corresponding values
print(my_dict.items())

dict_items([('Roll Number', 100), ('Subject', ['Maths', 'Science', 'Computer']), ('Marks', [80, 73, 90]), ('Year', 2025)])