## Split function
It works similar to 'text to column' function in excel. Here data can be split by using a delimeter like comma (,), colon (:), slash (/) etc...
Let's understand first how slicing works?

In [3]:
text="Hello World"
print(text[2:6:2])
# Here first 2 is the starting index number, 6 is the ending index number and last 2 is the step size. This means, it will skipp 1 letter while calculating between 2nd and 5th index.

lo

In [9]:
print(text[0::3])
# Here step size is 3, it will consider the entire text while calcualting.

HlWl

In [7]:
# Let's see one more example
print(text[::3])

HlWl

In [13]:
# Now let's see how split function works
text="I_am_an_Engineer"
splitted=text.split("_")
print(splitted)

['I', 'am', 'an', 'Engineer']

In [23]:
text="Hello World"
words=text.split(" ")
print(words)
# It saves the out in words variable as a list using [ ].

['Hello', 'World']

In [19]:
words[0]
# This displays the first splitted word

'Hello'

In [21]:
words[1]
# This displays the second splitted word

'World'

In [27]:
# If we would like to replace a letter in 1st splitted word.
words[0]=words[0].replace("o","a")
print(words[0])

Hella

In [39]:
# Replacing multiple letters in one line
words=("Hello World")
words=words.replace("H","h").replace("e","E").replace("W","w")
# After replacing the letters "H" with "h", "e" with "E" etc.. it saves the output to a variable called 'words' again.
print(words)

hEllo world

In [29]:
# Saving 2nd word into 1st word
words[0]=words[1]
print(words)

['World', 'World']

In [31]:
result=" ".join(words)
print(result)
# Joining words with a delimter as space (" ")

World World

In [41]:
# To know the index value in a list, .index fuction with the keyword to know the index value to be used.
mywords="I love India"
mywords=mywords.split(" ")
mywords.index("love")

1

### Methods we have learnt so far
1. replace()
2. find()
3. index()
4. split()
5. join()
6. upper()
7. lower()

# Booleans in Python
In Python, Booleans are a fundamental data type that represents one of two values: True or False
These values are used to control the flow of a program, make decisions, and evaluate conditions.
Booleans are case-sensitive: True and False must start with a capital letter.

In [51]:
# Checking the conditions like below is called Boolean Expression
a=3
b=4
c=a<b
print(c)

True

In [53]:
# We can assign boolean values to a variable like this
city=True
town=False
print(city)
print(town)

True
False

In [69]:
#Using boolean in conditions
a=3
b=4
d=(b%2==0)
print(d)

True

# Arithmatic Operators
These operators are used to perform basic mathematical operations. The operators are:+, -, *, /, //, %, **

In [72]:
# Simple arithmatic operations
a=4
b=5
print(a+b)

9

In [74]:
print(a*b)

20

In [108]:
print(a)
print(a % b)

4
4

## Logical Operators
AND, OR, NOT are used to combile conditional statements and return a boolean value: True or False

In [84]:
# OR Operator
x=True
y=False
print(x or y)

True

In [86]:
# AND Operator
print(x and y)

False

In [92]:
# NOT Operator
print(not y)
print(not x)

True
False

# Comparison Operators

In [95]:
# Equal to
a=4
b=5
print(a==b)

False

In [99]:
# Greater than
print(a>b)
print(b>a)

False
True

In [101]:
# Not equal to
print(a!=b)

True

# Assignment Operators

### Simple assignment

In [104]:
x=40
print(x)

40

### Add and assign

In [106]:
x +=4
print(x)

44

### Multiply and assign

In [110]:
x *=5
print(x)

220

### Idendity Operators

In [116]:
a="Debu"
b=a
print(a is b)

True

In [118]:
value="apple"
a=value
b=value
print(a is b)

True

### is not operator

In [120]:
a="apple"
b="banana"
c=a
print(a is c)
print(a is not b)
print(a is not c)

True
True
False

## Membership Operators

### in operator

In [131]:
fruits="banana, cherry, apple, mango"
print("banana" in fruits)
print("grapes" in fruits)

True
False

### not in operator

In [134]:
print("orange" not in fruits)

True

In [136]:
print("banana" not in fruits)

False

### in with string

In [141]:
text="Hello World"
print("World" in text)
print("Bharat" in text)

True
False

## Bitwise Operators

### AND operator

In [146]:
a=5 #binary=101
b=3 #binary=001
print(a&b)

# For rough calculation: 101 multipled by 011=1
# 101
#&011
#------
# 001 (nothing but 1)

1

### OR operator

In [149]:
print(a | b)
# similar to above binary calculation. 101 OR 011 = 111 in binary or, 7 in decimal
# 1 or 0 = 1
# 1 or 1 = 1
# 0 or 0 = 0

7

# Slicing and Indexing

### Indexing

In [160]:
#Positive indexing
text="Python"
print(text[:4])
print(text[:])

Pyth
Python

In [164]:
#Negative indexing
print(text[:-1])
print(text[-1])
print(text[-6])

Pytho
n
P

### Slicing

In [171]:
#Positive Indexing
text="Python"
#text[start:stop-1:step]
print(text[1:4])
print(text[:3])
print(text[0:5:2])

yth
Pyt
Pto

In [173]:
#Negative Indexing
print(text[-4:-1])
print(text[::-1])

tho
nohtyP

In [183]:
text="12345"
print(text[-1])  #last character
print(text[-5])  #first character
print(text[-4:-1])
print(text[::-1])
print(text[::-2])

5
1
234
54321
531

In [185]:
text="Practice Makes MAN Perfect"
print(text[:18])

Practice Makes MAN

In [187]:
print(text[:18].replace("MAN", "WOMAN"))

Practice Makes WOMAN

In [191]:
print(text[:18].replace("MAN", "WOMAN"),text[18:])

Practice Makes WOMAN  Perfect