# While loop in python
- The loop continues until the condition evaluated as true. Also, when the number of loops are unknown, while loop is used. 
- If it's evaluated to true, the body of the loop is executed and this process continues repeatedly until the condition becomes false.

Syntax:
while condition:

### Important Note
- Python interpretes any non-zero number as TRUE.
- 0, none, and any empty values is treated as FALSE.

In [6]:
# Generate a number from 2 to 20 using for loops
for i in range(2,21):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
# Using while loop display the number from 0 to 5
i=0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [10]:
# Setting up an alarm clock and check how it works
# Time function needs to be imported using import command first
import time

In [14]:
times=time.localtime()
print(times)

time.struct_time(tm_year=2025, tm_mon=7, tm_mday=4, tm_hour=21, tm_min=48, tm_sec=33, tm_wday=4, tm_yday=185, tm_isdst=0)

In [20]:
while True:
    times=time.localtime()
    if times.tm_hour==21 and times.tm_min==53:
        print("Ring Ring")
        break

Ring Ring

### enumerate() method
Enumerate: it is a built-in function used to loop over something like a list, tuple or string while keeping track of the index (position) of the current item. It actually displays position value of the item and the item value.

In [23]:
fruits=['apple','banana','cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [25]:
letter=['a','b','c','d']
for index, letters in enumerate(letter):
    print(index, letters)

0 a
1 b
2 c
3 d

In [27]:
# If we want to start the index number as 1
letter=['a','b','c','d']
for index, letters in enumerate(letter,1):
    print(index, letters)

1 a
2 b
3 c
4 d

### zip() method
Zip method is used to join two lists.
* Condition: both the lists should have same number of items.

In [33]:
name=['Debu','Mitali','Ansika','Aarush']
mark=[85,87,90,67]
marks=list(zip(name,mark))
print(marks)

[('Debu', 85), ('Mitali', 87), ('Ansika', 90), ('Aarush', 67)]

### unzip() method
* '*' is used to unzip. In the above example, marks variable contains zipped items. Let's unzip it by using *.

In [3]:
name=['Debu','Mitali','Ansika','Aarush']
mark=[85,87,90,67]
marks=list(zip(name,mark))
print(marks)
name,mark=list(zip(*marks))
print(name)
print(mark)

[('Debu', 85), ('Mitali', 87), ('Ansika', 90), ('Aarush', 67)]
('Debu', 'Mitali', 'Ansika', 'Aarush')
(85, 87, 90, 67)

In [9]:
# Once again check for loop with break
for i in range(1,10):
    if i==8:
        break
    print(i)
else:
    print("Printed")    # else part will not be printed this time.

1
2
3
4
5
6
7

In [11]:
for i in range(1,10):
    if i==10:
        break
    print(i)
else:
    print("Printed")    # else part will be printed this time.

1
2
3
4
5
6
7
8
9
Printed

### break statement
break statement is used to terminate a loop prematurely. 
- This means when break is executed, it jumps out of the loop even if all the iterations are not completed.
- It is mainly used for both for and while loops.
- In other programming languages, it is used in switch cases but switch is not statement in case of python.

In [15]:
salary=[8000,6000,3000,7000,10000]
for val in salary:
    if val==7000:
        break
    print(val)

8000
6000
3000

### continue statement
- continue statement actually skip the current iteration and move to the next iteration
- it is again used for both for and while loops
- it skips the condition value from the output from a given list - let's see how it works

In [18]:
salary=[8000,6000,3000,7000,10000]
for val in salary:
    if val==3000:    #it actually ignored the conditioned value=3000
        continue
    print(val)

8000
6000
7000
10000

In [20]:
for val in "Mystringvalue":
    if val=="t":
        continue
    else:
        if val=="n":
            break
        print(val)

M
y
s
r
i

# Function in Python
- function is a block of reusable code
- it helps organize code, avoid repeatation and improve readability
- in other words, function is a group of statement that performs a specific task

### Function Syntax

In [24]:
def function_name(argument1, argument2):     # function starts with def keyword then a function name with arguments
    #put your logics here
    #return output (optional)

SyntaxError: incomplete input (800652528.py, line 3)

In [27]:
def say_hello():
    print("Hello")
say_hello()

Hello

In [29]:
# Simple greeting function where we are passing an argument as name
def greeting(name):
    print("Hello Miss. \n\t",name)
greeting("Mitali")

Hello Miss.
	 Mitali

### Using return
return statement allows a function to 'return' a result to the place where it was called. Further the result can be:
- stored in a variable
- used in an expression
- passed to another fuction
- handle it in any other way the user wants

In [32]:
# Salary update function without using return statement
def salary_inc(salary):
    if salary<=10000:
        (salary+2000)
    else:
        (salary)
print("Your salary after increment is:",salary_inc(9000))

Your salary after increment is: None

### Why it is showing None in above example?
- because we haven't used return statement.
- print statement is used for users to show.
- return is used to display the values to coders. We use return to get the result.

In [36]:
def salary_inc(salary):
    if salary<=10000:
        return (salary+2000)
    else:
        return (salary)
print("Your salary after increment is:",salary_inc(9000))

Your salary after increment is: 11000

In [38]:
# function with multiple arguments
def my_function(science,maths,language):
    return(science+maths+language)
print(my_function(45,78,90),"You have scored.")

213 You have scored.

In [42]:
# Let's create a grade system using function
def my_function(science,maths,language):
    return(science+maths+language)
total=my_function(80,78,98)
if total>=240:
    print("You have got:",total,"and you have passed with distiction.")
elif total>=180 and total<=200:
    print("You have got:",total,"and you have passed with first division.")
elif total>=150 and total<=179:
    print("you have got:",total,"and you have passed with second division.")
elif total>=130 and total<=149:
    print("you have got:",total,"and you have passed with third division.")
else:
    print("You have failed, better luck next time.")

You have got: 256 and you have passed with distiction.

Suppose someone wants to buy used mobile online. The vendor needs to display the price of the mobile on the basis of:
- brand or make of the mobile
- age of the mobile in months
- storage capacity in GB

In [53]:
def phone_make(make,age,memory):
    if make=="iPhone 13":
        if age<6:
            if memory==128:
                print("The price would be: 6000 to 7000")
            elif memory==256:
                print("The price would be: 12000 to 14000")
    elif make=="Nokia Lumia":
        if age<6:
            if memory==64:
                print("The price would be 3000 to 4000")
            elif memory==128:
                print("The price would be 5000 to 6000")
    else:
        print("No stock right now, please try again later")
make=input("Please enter the make:")
age=int(input("Please enter the age of the phone in months:"))
memory=int(input("Please enter the memory in GB:"))
x=phone_make(make,age,memory)

Please enter the make: Nokia Lumia
Please enter the age of the phone in months: 5
Please enter the memory in GB: 64
Please enter the make: Nokia Lumia
Please enter the age of the phone in months: 5
Please enter the memory in GB: 64

The price would be 3000 to 4000