# Data Structure in Python
Data structure which can hold, store and save data. In Python, data structures are used to store and organize data efficiently. Python provides several built-in data structures, as well as support for custom ones. Here's a summary of the main built-in data structures:
1. List
2. Tuple
3. Set
4. Dictionary

In [3]:
a=False, True, 777, "Debu"
type(a)

tuple

### List
It is like a container which can store data and list is always in square brackets [].
1. List can accomodate all kind of data.
2. List is mutable - this means we can edit our data (update, insert, add, count).

In [12]:
# Create an empty list
lists=[]
type(lists)

list

In [18]:
# Create a proper list
lst=['a','b','c','d']
print("The type of datastructure is:",type(lst))
print(lst)

The type of datastructure is: <class 'list'>
['a', 'b', 'c', 'd']

### Copy() Method

In [20]:
# How to create a copy of a list
# Why do we need to copy a list? - it is because if we are in need to modify, update or delete the data from a list it is always good practice to 
# have a backup of the existing list before updating. In the below example, we are saving the above list named 'lst' into l2. Now if we edit l2 it
# it doesn't harm the actual list 'lst'. Let's see how it works.
l2=list(lst)
print(l2)

['a', 'b', 'c', 'd']

In [24]:
# Different way to copy a list
# Use of copy() method
marks=[30,40,50,60]
copy_marks=marks.copy()
print(copy_marks)

[30, 40, 50, 60]

In [26]:
# Another way to make a list
# This method seperates all the elements.
lst=list('debu')
print(lst)

['d', 'e', 'b', 'u']

In [28]:
# Let's try with integer value
lst=list(8765)
print(lst)
# This will throw an error as int object is not terable. In this case we have to defile list using [].

TypeError: 'int' object is not iterable

### Important
Copying a list or saving the list in a variable are not same. Let me explain: Please see below example where lst is saved in a variable called 'a'.
when we ran id(a) to find memory location of this variable it displays: 2130384808704. Now after copying the list into another variable called 'b'
and checked the id(b) again, it displays: 2130384878720. So, if we run b.clear() function to remove the value of b, it doesn't touch the original list.

In [32]:
lst=[20,30,40]
a=lst
id(a)

2130384808704

In [34]:
b=lst.copy()
id(b)

2130384878720

### Append() Method

In [37]:
# Let's try to append a value into the list
# Create an empty list and append data by using the append() method
l1=[]
l1.append('Sachin')
print(l1)

['Sachin']

In [39]:
# Add one more value
l1.append('Dhoni')
print(l1)

['Sachin', 'Dhoni']

In [41]:
# Add two more items in one attempt
l1.append('Karthik','Jadeja')
print(l1)
# This doesn't work as one argument is expected to pass

TypeError: list.append() takes exactly one argument (2 given)

In [43]:
# How to fix this to append in one attempt
l1.append(['Karthik','Jadeja'])
print(l1)
# But it adds a list into a list, it doesn't add an item into the existing list.

['Sachin', 'Dhoni', ['Karthik', 'Jadeja']]

In [45]:
# The correct way to do it:
l1=['Sachin','Dhoni']
l1.append('Karthik')
l1.append('Jadeja')
print(l1)

['Sachin', 'Dhoni', 'Karthik', 'Jadeja']

### index and insert method - to pass to two arguments

In [47]:
# insert(index valu, value to insert) meaning of index is where we have to add objects and insert is what the object to add. Let's see
l1=['Raju','Debu','Sameer','Ansika Mallik','Aarush Mallik']
print(l1)

['Raju', 'Debu', 'Sameer', 'Ansika Mallik', 'Aarush Mallik']

In [49]:
# In the below code we are trying to insert the value 'Ashok' in place of 3rd index that is after 'Sameer'.
l1.insert(3,'Ashok')
print(l1)

['Raju', 'Debu', 'Sameer', 'Ashok', 'Ansika Mallik', 'Aarush Mallik']

In [51]:
l1=[44,56,23,89,45]
l1.insert(4,88)
print(l1)

[44, 56, 23, 89, 88, 45]

In [59]:
# Check the length of l1 variable is
len(l1)

6

### Indexing and Slicing

In [62]:
l1=['Raju','Debu','Sameer','Ansika Mallik','Aarush Mallik']
l1[0]

'Raju'

In [64]:
l1[1]

'Debu'

In [66]:
l1[4]

'Aarush Mallik'

In [70]:
# The above examples describes that by using index value we can pick a value from the list. This method can be used to replace a value in the list. Let's
# see how to replace.
l1[4]='Taalu'
print(l1)

['Raju', 'Debu', 'Sameer', 'Ansika Mallik', 'Taalu']

In [74]:
# Listing a value from certain index position
l1[1:]

['Debu', 'Sameer', 'Ansika Mallik', 'Taalu']

In [76]:
l1[3:]

['Ansika Mallik', 'Taalu']

In [90]:
# We can use + sign to concatenate list, just we did for string
l1=[23,45,67,32,67,78,99]
# Now we want to add [555]
l1+[555]

[23, 45, 67, 32, 67, 78, 99, 555]

In [92]:
# But the above output doesn't add it permanently. Let's print l1 and see.
print(l1)

[23, 45, 67, 32, 67, 78, 99]

In [98]:
# The above process doesn't add the value permanently. To add it permanently we should use either append() or this way:
l1=[23,45,67,32,67,78,99]
l1=l1+[555]
print(l1)

[23, 45, 67, 32, 67, 78, 99, 555]

### How to duplicate a list

In [103]:
# By using * we can duplicate a list
print(l1 * 4)

[23, 45, 67, 32, 67, 78, 99, 555, 23, 45, 67, 32, 67, 78, 99, 555, 23, 45, 67, 32, 67, 78, 99, 555, 23, 45, 67, 32, 67, 78, 99, 555]

In [109]:
# If we want to make the code easily understable we can do like this
print("-" * 140)
print(l1 * 4)
# But it doesn't double it permanently
print("-" * 140)

--------------------------------------------------------------------------------------------------------------------------------------------
[23, 45, 67, 32, 67, 78, 99, 555, 23, 45, 67, 32, 67, 78, 99, 555, 23, 45, 67, 32, 67, 78, 99, 555, 23, 45, 67, 32, 67, 78, 99, 555]
--------------------------------------------------------------------------------------------------------------------------------------------

### Advanced List and Count() Method
The count() method counts the number of times a value exists in a list or the number of duplicate values

In [114]:
marks=[10,23,45,67,89,45,23,45,67,8998,90,65,54,43]
marks.count(23)

2

In [116]:
marks.count(45)

3

### Extend Method
It is confusing extend and append method. Let's see how both works

In [119]:
lst=['Tara','Sitara']
lst

['Tara', 'Sitara']

In [121]:
lst.append(['Chinki','Pinki'])
lst

['Tara', 'Sitara', ['Chinki', 'Pinki']]

In [123]:
# This doesn't look right, we should use extend() method instead of append() method.
lst=['Tara','Sitara']
lst.extend(['Chinki','Pinki'])
lst

['Tara', 'Sitara', 'Chinki', 'Pinki']

### pop() or Delete Method
This deletes the last index element from the list. Let's see how it works

In [127]:
l1=['Raju','Debu','Sameer','Ansika Mallik','Aarush Mallik']
print(l1)

['Raju', 'Debu', 'Sameer', 'Ansika Mallik', 'Aarush Mallik']

In [129]:
l2=l1.pop()
print(l2)

Aarush Mallik

In [133]:
print(l1)

['Raju', 'Debu', 'Sameer', 'Ansika Mallik']

In [135]:
# We can pass index value to remove the exact element. Let's see how:
l3=l1.pop(2)
print(l3)
print(l1)

Sameer
['Raju', 'Debu', 'Ansika Mallik']

### Remove() Method
How it works?
It removes the valued passed to remove. It checks the passed value from the list and deletes it from the list but it doesn't continue to check the list if that value is repeated in the list. Let's see how it works:

In [150]:
marks=[10,23,45,67,89,45,23,45,67,8998,90,65,54,43]
marks.remove(45)

In [152]:
marks

[10, 23, 67, 89, 45, 23, 45, 67, 8998, 90, 65, 54, 43]

### Reverse Method
It reverses the elements in reverse order.

In [7]:
marks=[10,23,45,67,89,45,23,45,67,8998,90,65,54,43]
marks.reverse()
print(marks)

[43, 54, 65, 90, 8998, 67, 45, 23, 45, 89, 67, 45, 23, 10]

### Sort Method
It helps in sorting the elements in ascending or descending order.

In [10]:
marks=[10,23,45,67,89,45,23,45,67,8998,90,65,54,43]
marks.sort()
print(marks)

[10, 23, 23, 43, 45, 45, 45, 54, 65, 67, 67, 89, 90, 8998]

In [12]:
# To display in reverse order
marks.sort(reverse=True)
print(marks)

[8998, 90, 89, 67, 67, 65, 54, 45, 45, 45, 43, 23, 23, 10]

## Example- Basic Checks

In [17]:
fruits=["apple","banana"]
print("apple" in fruits)
print("banana" in fruits)
print("grapes" in fruits)

True
True
False

In [19]:
print("grapes" not in fruits)

True

In [21]:
print("mango" not in fruits)

True

In [25]:
print("apple" not in fruits)

False

# Tuples
Tuple is an order, immutable collection of items. Tuples are always defined in round brackets (). They also contain any data type.
Let's see an example:

In [30]:
my_tup=(1, "Debu", 23.4)
type(my_tup)

tuple

In [36]:
# If you do not declare the data structure type either list usin [] or string using '"''' or using () for tuple, 
# it by default consider as TUPLE. Please see below:
myval=1,"Ansika",4.5
type(myval)

tuple

In [42]:
# Running below code will throw the error " 'tuple' object has no attribute 'append'" because it is immutable.
myval.append("Debu")

AttributeError: 'tuple' object has no attribute 'append'

### How to add elements into tuple
Basically, it needs to be converted to list first, append or insert or extend and convert it back to tuple. Let's see how it works.

In [45]:
myval=(1,"Ansika",4.5)
myval=list(myval)      #Converting to list
myval.append("Debu")   #Appending a value called 'Debu'
myval=tuple(myval)     #Converting back to tuple
print(myval)

(1, 'Ansika', 4.5, 'Debu')

In [47]:
# Check what is the length of tuple
len(myval)

4

In [49]:
# How to use indexing in tuple like lists
myval[1]

'Ansika'

In [51]:
myval[-1]

'Debu'

### index()
The index() returns the position (index) of the first time a specific value appears in the tuple. Let's see:

In [54]:
myval.index(4.5)

2

## Basic Tuple Methods

#### 1. count()
It returns how many times a specifica value appears in a tuple

In [58]:
tup=(23,34,56,34,56,34,23,67,56,78,67,56,67)
tup.count(34)

3

In [60]:
# Accessing elements in a tuple by using index value. Let's see the example:
ttup='apple','banana','cherry'
print(ttup[0])
# It prints the first item

apple

In [62]:
# Negative indexing or accessing the element from the last in a tuple
print(ttup[-1])

cherry

### Tuple Update
A tuple can be updated by creating a new tuple with the desired changes or converting to a list as seen before. Let's see:

In [65]:
#Update by creating a new tuple
ttup='apple','banana','cherry'
ttup='apple','grapes','banana','cherry'
print(ttup)

('apple', 'grapes', 'banana', 'cherry')

In [75]:
#Update by adding a value with conversion into a list first
ttup='apple','banana','cherry'
ttup=list(ttup)
ttup.append('grapes')
ttup=tuple(ttup)
print(ttup)

('apple', 'banana', 'cherry', 'grapes')

In [77]:
#Update by removing a value with conversion into a list
ttup=list(ttup)
ttup.remove('cherry')
ttup=tuple(ttup)
print(ttup)

('apple', 'banana', 'grapes')